.DS_Store
.vscode
.idea
test-results.json
# npm
node_modules
npm-debug.log

# env
.env

# tests
test-results
playwright-report
cucumber-report
playwright-xray-error.log
test/features/**/*.spec.js
actual-reports
.nx
/update.sh